html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #f3f3f3;
    font-family: cursive, sans-serif;
}

* {
    box-sizing: border-box;
}

.add-tab-menu {
    padding: 20px;
}

.tab {
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: #fff;
    position: relative;
}

.tab-heading {
    font-size: 20px;
    color: #333;
    padding: 5px 0;
    text-decoration: none;
}

.tab-content {
    padding: 15px;
    background: #f7f7f7;
    border-radius: 3px;
    font-size: 18px;
    border-top: 10px solid #fff;
}

.tab-list {
    padding: 20px;
    overflow: hidden;
}

.form-input {
    height: 45px;
    border: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 0 10px;
    padding: 15px;
}

.form-submit {
    height: 45px;
    padding: 10px;
    background: #3498db;
    color: #fff;
    border-radius: 5px;
    border: none;
    border-bottom: 5px solid #5dade2;
    font-size: 18px;
    vertical-align: middle;
}

.btn-remove {
    position: absolute;
    color: darkred;
    top: 12px;
    right: 10px;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.loader {
    position: relative;
}

.loader:after {
    content: '';
    margin: auto;
    font-size: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(40, 140, 240, 0.2);
    border-right: 1.1em solid rgba(40, 140, 240, 0.2);
    border-bottom: 1.1em solid rgba(40, 140, 240, 0.2);
    border-left: 1.1em solid rgba(52, 152, 219, 1);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    z-index: 6;
}

.loader:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: rgba(255, 255, 255, 0.5);
}

.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.counter-wrapper {
    display: inline-block;
}

.counter {
    display: inline-block;
    padding: 5px;
    background: #6CBB3C;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    line-height: 20px;
    color: #fff;
    transform: scale(1);
}

.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
}

.example-appear {
    transform: scale(0);
}

.example-appear.example-appear-active {
    transform: scale(1);
    transition: transform .2s cubic-bezier(0, 0, 0.24, 1.01);
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
